@import url(../css/flexslider.css);
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_smallest.scss */
body {
  font: 100%/1.5 Georgia, Times, serif;
  color: #011f40;
  background: #fcfcf3;
  line-height: 1.4;
}

/* HEADINGS */
/* line 16, ../sass/_smallest.scss */
h1, h2, h3, h4, h5, button {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #e19a14;
  line-height: 1.4;
}

/* line 22, ../sass/_smallest.scss */
h1 {
  margin: 0 0 10px 0;
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 5px 5px black;
}

/* line 32, ../sass/_smallest.scss */
h2 {
  font-size: 26px;
  font-weight: 400;
}

/* line 37, ../sass/_smallest.scss */
h2, h3 {
  line-height: 1;
  font-weight: 700;
}

/* line 42, ../sass/_smallest.scss */
h3 {
  font-size: 18px;
  font-weight: 400;
}

/* PARAGRAPH */
/* line 49, ../sass/_smallest.scss */
a {
  color: #e19a14;
}
/* line 51, ../sass/_smallest.scss */
a:visited {
  color: #e19a14;
}
/* line 55, ../sass/_smallest.scss */
a:hover {
  color: #8e610d;
}

/* line 62, ../sass/_smallest.scss */
p, small, a, label {
  font-family: "Questrial", sans-serif;
}

/* line 66, ../sass/_smallest.scss */
p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #646771;
}

/* line 72, ../sass/_smallest.scss */
small {
  font-size: 80%;
  font-style: italic;
  line-height: 1;
}

/* line 78, ../sass/_smallest.scss */
small {
  color: #1e1e1e !important;
}
/* line 80, ../sass/_smallest.scss */
small a {
  text-decoration: underline;
  color: #1e1e1e !important;
}

/* line 86, ../sass/_smallest.scss */
.center {
  text-align: center;
}

/* line 90, ../sass/_smallest.scss */
.icon {
  text-decoration: none;
  width: 160px;
}
/* line 92, ../sass/_smallest.scss */
.icon:hover {
  text-decoration: none;
}
/* line 95, ../sass/_smallest.scss */
.icon p {
  text-align: center;
  color: #e19a14;
  font-size: 18px;
  margin: 0;
}

/* HEADER & LOGO */
/* RESPONSIVE IMAGES */
/* line 108, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 115, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 122, ../sass/_smallest.scss */
.container {
  width: 960px;
}

/* line 126, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 132, ../sass/_smallest.scss */
.footer .container {
  border-top: solid 1px #646771;
  padding: 2em 0;
}
/* line 135, ../sass/_smallest.scss */
.footer .container p {
  font-size: 12px;
}

/* line 142, ../sass/_smallest.scss */
.arvest {
  padding: 4em;
}

/* line 146, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
}
/* line 148, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 153, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 159, ../sass/_smallest.scss */
.first {
  height: 370px;
  z-index: -1;
  background: #111111;
  position: relative;
}
/* line 165, ../sass/_smallest.scss */
.first .logo {
  width: 36%;
}

/* line 171, ../sass/_smallest.scss */
.form-horizontal .controls {
  margin-left: 110px;
}

/* line 175, ../sass/_smallest.scss */
.form-horizontal .control-group {
  margin-bottom: 10px;
}

/* line 179, ../sass/_smallest.scss */
.background {
  background: url("../img/contest_bg.png") center top no-repeat;
}

/*.ticketbg {
  background: url('/img/tickets.png') 930px 160px no-repeat;
}*/
/* line 189, ../sass/_smallest.scss */
.third {
  padding: 1em 0;
  margin-top: -5em;
  z-index: -1;
}
/* line 191, ../sass/_smallest.scss */
.third h3 {
  margin-bottom: 1em;
}
/* line 198, ../sass/_smallest.scss */
.third h2, .third h3, .third label {
  color: #005280;
}
/* line 201, ../sass/_smallest.scss */
.third .form-horizontal {
  margin-bottom: 2em;
}
/* line 203, ../sass/_smallest.scss */
.third .form-horizontal input {
  width: 80%;
  border: solid 2px #005280;
  padding: 20px 20px;
  font-size: 18px;
  border-radius: 3px;
}
/* line 210, ../sass/_smallest.scss */
.third .form-horizontal label {
  font-size: 18px;
  width: 80px;
  padding: 20px 20px;
}
/* line 216, ../sass/_smallest.scss */
.third .form-horizontal button {
  background: #005280;
  color: white;
  border: none;
  text-shadow: none;
  padding: 10px 30px;
  float: right;
  margin-right: 103px;
  width: auto;
  font-size: 18px;
  box-shadow: none;
  font-style: italic;
}
/* line 228, ../sass/_smallest.scss */
.third .form-horizontal button:focus, .third .form-horizontal button:hover, .third .form-horizontal button:active {
  outline: none;
}
/* line 231, ../sass/_smallest.scss */
.third .form-horizontal button:hover {
  background: #106290 !important;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

/* line 241, ../sass/_smallest.scss */
.third {
  padding-bottom: 1em;
  margin: auto;
}
/* line 245, ../sass/_smallest.scss */
.third .span4 {
  width: 430px;
  margin-right: -28em;
}

/* line 253, ../sass/_smallest.scss */
.second .span5 {
  margin-top: -5em;
  z-index: 500;
  width: 550px;
  margin-left: -11em;
}

/* line 262, ../sass/_smallest.scss */
.intro {
  position: relative;
  z-index: 100;
}

/* FOOTER */
/* BUTTON */
/* line 278, ../sass/_smallest.scss */
.cbp-bislideshow {
  list-style: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
}

/* line 289, ../sass/_smallest.scss */
.cbp-bislideshow li {
  position: absolute;
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */
/* line 303, ../sass/_smallest.scss */
.backgroundsize .cbp-bislideshow li {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* ...and hide the images */
/* line 311, ../sass/_smallest.scss */
.backgroundsize .cbp-bislideshow li img {
  display: none;
}

/* line 315, ../sass/_smallest.scss */
.cbp-bislideshow li img {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 321, ../sass/_smallest.scss */
.cbp-bicontrols {
  position: fixed;
  width: 300px;
  height: 100px;
  margin: -50px 0 0 -150px;
  top: 50%;
  left: 50%;
}

/* line 330, ../sass/_smallest.scss */
.cbp-bicontrols span {
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

/* line 338, ../sass/_smallest.scss */
.cbp-bicontrols span:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 100px;
  font-size: 80px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  opacity: 0.7;
}

/* line 358, ../sass/_smallest.scss */
.cbp-bicontrols span:hover:before {
  opacity: 1;
}

/* line 362, ../sass/_smallest.scss */
.cbp-bicontrols span:active:before {
  top: 2px;
}

/* line 366, ../sass/_smallest.scss */
span.cbp-biplay:before {
  content: "\e002";
}

/* line 370, ../sass/_smallest.scss */
span.cbp-bipause:before {
  content: "\e003";
}

/* line 374, ../sass/_smallest.scss */
span.cbp-binext:before {
  content: "\e000";
}

/* line 378, ../sass/_smallest.scss */
span.cbp-biprev:before {
  content: "\e001";
}

/* line 382, ../sass/_smallest.scss */
.cbp-bicontrols span.cbp-binext {
  float: right;
}

/* Fallback */
/* line 388, ../sass/_smallest.scss */
.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
  opacity: 1;
}

/* line 392, ../sass/_smallest.scss */
.no-js.backgroundsize .cbp-bislideshow li:first-child img {
  display: block;
}

/* line 398, ../sass/_smallest.scss */
.parsley-error-list li {
  list-style: none;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: red;
}

/* line 406, ../sass/_smallest.scss */
.modal {
  width: 660px;
}

/* line 410, ../sass/_smallest.scss */
.modal-body {
  height: 550px;
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
