* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 100%/1.5 $georgia;
  color: $neutral;
  background:$background;
  line-height:1.4;
}

/* HEADINGS */

h1, h2, h3, h4, h5, button {
  font-family: $heading;
  color: $secondary;
  line-height:1.4;
}

h1 {
	margin: 0 0 10px 0;
  font-size: 70px;
	font-weight: 600;
	line-height: 1;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 5px 5px rgba(0,0,0,1);
}

h2 {
  font-size:26px;
  font-weight:400;
}

h2, h3 {
  line-height:1;
  font-weight:700;
}

h3 {
  font-size:18px;
  font-weight:400;
}

/* PARAGRAPH */

a {
  color:$secondary;
  &:visited {
    color:$secondary;
  }

  &:hover{
    color: #8e610d;
  }
}



p, small, a, label {
  font-family:$body;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
  color:$primary
}

small {
  font-size:80%;
  font-style: italic;
  line-height:1;
}

small {
  color:$dark !important;
  a {
    text-decoration: underline;
    color:$dark !important;
  }
}

.center {
  text-align:center;
}

.icon {
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
  p {
    text-align: center;
  color: $secondary;
  font-size:18px;
  margin:0;
  }
  width:160px;
}

/* HEADER & LOGO */

/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  }
}

/* MAIN */

.container {
  width:960px;
}

section {
  padding:2em;
    
}

.footer {
  .container {
  border-top:solid 1px $primary;
  padding:2em 0;
    p {
      font-size:12px;
    }
    
  }
}

.arvest {
  padding:4em;
}

.wrap {
  max-width: 940px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.first {
  height:370px;
  z-index:-1;
  background:#111111;

  position:relative;
   .logo {
    width:36%;
   }
}


.form-horizontal .controls {
  margin-left:110px;
}

.form-horizontal .control-group {
  margin-bottom:10px;
}

.background {
  background: url('../img/contest_bg.png') center top no-repeat;
}



/*.ticketbg {
  background: url('/img/tickets.png') 930px 160px no-repeat;
}*/

.third {

  h3 {
    margin-bottom:1em;
  }
  
  padding:1em 0;
  margin-top:-5em;
  z-index:-1;
  h2,h3, label {
    color:$blue;
  }
  .form-horizontal {
    margin-bottom:2em;
    input {
      width:80%;
      border:solid 2px $blue;
      padding:20px 20px;
      font-size:18px;
      border-radius:3px;
    }
    label {
      font-size:18px;
      width:80px;
      padding:20px 20px
    }

    button {
      background:$blue;
      color:white;
      border:none;
      text-shadow: none;
      padding: 10px 30px;
      float:right;
      margin-right:103px;
      width:auto;
      font-size:18px;
      box-shadow:none;
      font-style: italic;
      &:focus,&:hover,&:active {
        outline:none;
      }
      &:hover {
        background:#106290!important;
        @include transition(.2s ease-in);
          
      }
    }
  }
}


.third {
  padding-bottom:1em;
  margin:auto;
  
   .span4 {
    width:430px;
    margin-right:-28em;
   }
}

.second {
 
   .span5 {
    margin-top:-5em;
    z-index:500;
    width:550px;
    margin-left:-11em;

   }
}

.intro {
  position:relative;
  z-index:100;
}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


.cbp-bislideshow {
  list-style: none;
  width: 100%;
 height:100%;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
}

.cbp-bislideshow li {
  position: absolute;
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img {
  display: none;
}

.cbp-bislideshow li img {
  display: block;
  width: 100%;
  height:100%;
}

.cbp-bicontrols {
  position: fixed;
  width: 300px;
  height: 100px;
  margin: -50px 0 0 -150px;
  top: 50%;
  left: 50%;
}

.cbp-bicontrols span {
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.cbp-bicontrols span:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 100px;
  font-size: 80px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  opacity: 0.7;
}

.cbp-bicontrols span:hover:before {
  opacity: 1;
}

.cbp-bicontrols span:active:before {
  top: 2px;
}

span.cbp-biplay:before {
  content: "\e002";
}

span.cbp-bipause:before {
  content: "\e003";
}

span.cbp-binext:before {
  content: "\e000";
}

span.cbp-biprev:before {
  content: "\e001";
}

.cbp-bicontrols span.cbp-binext {
  float: right;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child {
  opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img {
  display: block;
}


.parsley-error-list {
  li {
    list-style:none;
    font-family:$heading;
    color:red;
  }
}


.modal {
  width:660px;
}

.modal-body {

  height:550px;
}

