// COLOR PALETTE
$primary: #646771;
$secondary: #e19a14;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$background: #fcfcf3;
$dark:#1e1e1e;
$blue:#005280;

// FONT STACKS
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, Times, serif;
$heading: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
$body: 'Questrial', sans-serif;